/* --- CSS RESET --- */
* {
    padding: 0;
    margin: 0;
}

html, body{
    padding: 0;
    margin: 10px;
    min-height: 100%;
}

:focus {outline: 0;}

#menu, #content {
    display: inline-block;
}

#menu {
    width: 150px;
    float: left;
}

#menu li {
    margin-left: 5px;
    list-style-type: none;
}

#content {
    width: 80%;
}

#content ul#map #content,
#content .machine .status-bar ul {
    list-style-type: none;
}

#content .machine .status-bar ul li {
    display: inline-block;
}

#content ul#map .machine {
    height: 60px;
    width: 200px;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 2px;
    margin: 5px;
}
